<div *ngIf="displayMessage" (click)="close($event)"
  [ngClass]="{
    'bg-red-100 border-red-800': message?.type == 'error',
    ' bg-green-100 border-green-800': message?.type == 'default'
  }"
  class="rounded-md p-4 m-2 border">
    <div class="flex items-center">
      <div class="ml-3">
        <div [ngClass]="{
          'text-red-800': message?.type == 'error',
          'text-green-800': message?.type == 'default'
        }"
         class="text-sm font-medium ">{{ message?.text }}</div>
      </div>
      <div class="ml-auto pl-3">
        <div class="-mx-1.5 -my-1.5">
          <button type="button"
          [ngClass]="{
            'bg-red-50 hover:bg-red-100 text-red-800 focus:ring-red-600 focus:ring-offset-red-50': message?.type == 'error',
            'bg-green-50 hover:bg-green-100 text-green-800 focus:ring-green-600 focus:ring-offset-green-50': message?.type == 'default'
           }"
           class="inline-flex rounded-md  p-1.5   focus:outline-none focus:ring-2  focus:ring-offset-2 ">
            <span class="sr-only">Dismiss</span>
            <!-- Heroicon name: mini/x-mark -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
