<div class="px-2 bg-gradient-to-t bg-slate-100">
  <div class="flex justify-between pt-2">
    <h1>Sondaggi</h1>
    <button class="inline-flex items-center rounded-md border border-transparent bg-primary px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark focus:ring-offset-2" [routerLink]="'new'">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <div>
          Nuovo sondaggio
        </div>
      </div>
    </button>
  </div>
  <div class="rounded-2xl shadow-md my-2 p-2 bg-white">
    <h2 class="font-bold">Filtri</h2>
    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5 px-2">
      <label for="status" class="text-md font-bold">Stato</label>
      <select id="status" 
        (change)="getData()" 
        [(ngModel)]="filterStatus" 
        class="block w-full p-2 rounded-md border-gray-500 shadow-sm focus:border-primary focus:ring-primary focus:ring-2 focus:outline-none text-base my-2">
        <option value="undefined" disabled selected >Scegli...</option>
        <option value="draft">Bozza</option>
        <option value="published">Pubblicato</option>
        <option value="closed">Chiuso</option>
      </select>
      <div class="flex justify-end items-end">
        <button class="btn-utility" (click)="cleanFilter()">Pulisci filtro</button>
      </div>
    </div>
  </div>
  <app-table
    [tableColumns]="tableColumns"
    [tableData]="pollsData">
  </app-table>
</div>


<ng-template #svgEdit>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
  </svg>   
</ng-template>

<ng-template #svgStatistics>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
  </svg>  
</ng-template>

<ng-template #svgViewDetail>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
  </svg>  
</ng-template>